.hlinks a:link  { color: #FFFFFF; text-decoration: none; }
.hlinks a:visited { color: #FFFFBB; text-decoration: none; }
.hlinks a:active { color: #FFFF00; text-decoration: none; }
.hlinks a:hover { color: #FFCC11; text-decoration: none; }
h1 {
  text-align:center;
  font-size:12pt;
  font-weight:bold;
  font-family:verdana,arial,helvetica;
}
.page {
  margin:0 auto;
  width:800px;
}
body {
  background-color:#EEEEEE;
}
.menu {
  border:solid 1px;
  border-color:black;
  background-color:#258D92;
  text-align:left;
  line-height:90%;
  font-size:9pt;
  font-family:verdana,arial,helvetica;
  color:white;
}
div.menubox {
  border:0;
  text-align:left;
  text-indent:10px;
}
div.menubox_1 {
  border:0;
  text-align:left;
  text-indent:20px;
}
div.topbox {
  border:0;
  font-size:14pt;
  text-align:center;
  padding:5px;
}
.footer {
  border:solid 1px;
  background-color:#258D92;
  text-align:left;
  font-size:9pt;
  font-family:verdana,arial,helvetica;
}
div.footbox {
  width:33%;
  border:0;
  float:left;
  text-align:center;
}
.contentblock {
  padding:2px;
  border:1px dotted;
  background-color:white;
  font-size:9pt;
  font-family:verdana,arial,helvetica;
  text-align:center;
}
p {
  padding-left:10px;
}
p.right {
  text-align:right;
}
.mytab {
  font-size:10pt;
  font-family:verdana,arial,helvetica;
  text-align:left;
}
